@define-color light1 #fffcec;
@define-color light2 #fba7ae;
@define-color dark1 #bb4952;
@define-color dark2 #a74545;
@define-color dark3 #734048;
@define-color dark4 #210d20;

* {
	background-image: none;
}
window {
	background-color: @dark4;
}
button {
    color: @light1;
	background-color: @dark3;
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: @dark1;
	outline-style: none;
}

#lock {
    background-image: image(url("/home/steven/.local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/home/steven/.local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/home/steven/.local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/home/steven/.local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/home/steven/.local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/home/steven/.local/share/wlogout/icons/reboot.png"));
}
